<h1>Display profile</h1>
<div class="container">
   <div class="row">
     <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= @user.first_name %>
      <% @user.demands.each do |demand| %>
        <p>Demande a <%= demand.expert.first_name %></p>
        <p>Status: <%= demand.booking_status %></p>
        <p>Commentaires <%= demand.comments %> </p>
      <% end %>
    </div>
  </div>
</div>

