<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="http://res.cloudinary.com/jbsebrier/video/upload/v1468307714/Traffic-blurred2_jkjwk2.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="http://res.cloudinary.com/jbsebrier/video/upload/v1468307719/Traffic-blurred2_dtiirt.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="http://res.cloudinary.com/jbsebrier/image/upload/v1468307711/Traffic-blurred2_kmcpj4.jpg" alt="">
        </div>
    </div>
</div>
