<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <div class="title-container">
          <h1>Trouvez un expert près de chez vous</h1>
        </div>
          <form action="users#index" class="col-md-8 offset-2 address-form" role="form">
            <div class="row">
              <div class="form-group col-sm-8 col-sm-offset-2">
                <input type="text" class="form-control col-sm-8 offset-2" name="query_address" placeholder="Vous cherchez un expert près de ...">
                <button type="submit" class="submit">C'est parti !</button>
              </form>
            </div>
          </div>
        <video autoplay loop class="fillWidth">
            <source src="http://res.cloudinary.com/jbsebrier/video/upload/v1468307714/Traffic-blurred2_jkjwk2.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="http://res.cloudinary.com/jbsebrier/video/upload/v1468307719/Traffic-blurred2_dtiirt.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="http://res.cloudinary.com/jbsebrier/image/upload/v1468307711/Traffic-blurred2_kmcpj4.jpg" alt="">
        </div>
    </div>
</div>
