<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <div class="title-container">
          <h1>Vous souhaitez acheter un véhicule d'occasion ?</h1>
          <h1 style="margin: 10px">Trouvez un expert près de chez vous</h1>
        </div>
          <form action="users#index" class="col-md-8 offset-2 address-form" role="form">
            <div class="row">
              <div class="form-group col-sm-8 col-sm-offset-2">
                <input type="text" class="form-control col-sm-8 offset-2" name="query_address" placeholder="Vous cherchez un expert près de ...">
                <button type="submit" class="submit btn btn-lg btn-primary" style="margin:20px;">C'est parti !</button>
              </form>
            </div>
          </div>
        <video autoplay loop class="fillWidth">
            <source src="http://res.cloudinary.com/jbsebrier/video/upload/v1468307714/Traffic-blurred2_jkjwk2.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="http://res.cloudinary.com/jbsebrier/video/upload/v1468307719/Traffic-blurred2_dtiirt.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="http://res.cloudinary.com/jbsebrier/image/upload/v1468307711/Traffic-blurred2_kmcpj4.jpg" alt="">
        </div>
    </div>
</div>

<div class="wrapper" id="homepage-wrapper">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1 text-center">
      <h2>Achetez bien conseillé !</h2>
      <p>Evitez les arnaques</p>
      <p>Pour votre recherche d'un véhicule d'occasion, faites-vous accompagner d'un expert</p>
      <p>Sachez reconnaître les bonnes affaires et évitez les problèmes après votre achat</p>
      <button class="btn btn-danger">Trouvez un expert</button>

    </div>
    <div class="col-sm-5 text-center">
      <h2>Devenez Biscautteur !</h2>
      <p>Les voitures ca vous connait ?</p>
      <p>Vous voulez partager votre passion dans votre région, tout en arrondissant vos fins de mois ?</p>
      <p>N'hésitez plus et contactez-nous pour rejoindre notre communauté d'experts !</p>
      <button class="btn btn-danger">Contactez-nous</button>

    </div>


  </div>
</div>
